.header {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem 0rem 4rem;
}

.nav {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 0.9rem 2.2rem;
    border-radius: 30px;
    border: 2px solid rgba(180, 147, 234, 0.15);
    background-color: rgba(234, 221, 255, 0.6);
    backdrop-filter: blur(10px);
}

.links {
    display: flex;
    gap: 2rem;
}

.link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.2s ease;
}

.link:hover {
    color: black;
}

.active {
    color: black;
    font-weight: 700;
}