.videoBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    width: 800px;
    height: 450px;
    border-radius: 20px;
    border: 0.15rem solid #B493EA;
    box-shadow: 0px 4px 10px rgba(180, 147, 234, 0.5);
}