.footer {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;
}

.copy {
    color: #6c757d;
}