.contactSection {
    position: relative;
    background-color: rgb(255, 255, 255);
    padding: 5rem 10rem;
}

.contactSection::before,
.contactSection::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 1px;
    background-color: #B493EA;
    box-shadow: 0px 4px 10px rgba(180, 147, 234, 0.5);
}

/* Position the top line */
.contactSection::before {
    top: 0;
}

/* Position the bottom line */
.contactSection::after {
    bottom: 0;
}

.contactContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contactTitle {
    font-size: 2rem;
    width: 28rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 130%;
}