.bannerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: #d9c7eb37;
    backdrop-filter: blur(10px);
    border: solid 1px rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 12px 0;
    z-index: 101;
}

.text {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
}

.closeBtn {
    position: absolute;
    right: 20px;
    background: none;
    border: none;
    font-size: 0.8rem;
    font-weight: 700;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
    padding: 0.25rem 0.6rem;
    border: 1.5px solid rgb(255, 255, 255);
    transition: all 0.5s ease;
    border-radius: 100%;
}

.closeBtn:hover {
    color: #B493EA;
    box-shadow: 0px 4px 10px rgba(180, 147, 234, 0.2);
    background-color: transparent;
    border: 1.5px solid #B493EA;
}