.projectsContainer {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 4rem;
}

.cardBox {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}