.card {
    border-radius: 20px;
    border: 1.5px solid #B493EA;
    box-shadow: 0px 4px 10px rgba(180, 147, 234, 0.5);
    transition: all 0.4s ease-in-out;
}

.card:hover {
    border: 1.5px solid #e693ea;
}

.cardContainer {
    position: relative;
    transition: all 0.4s ease-in-out;
}

.cardContainer:hover {
    scale: 102%;
}

.titleIconContainer {
    display: flex;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 5%;
    gap: 1rem;
}

.title {
    padding: 0.7rem 1.5rem;
    background-color: #EADDFF;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: all 0.5s ease;
}

.icons {
    display: flex;
    gap: 1rem;
}