.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
}

.headingBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
}

.heading {
    font-size: 2.5rem;
    font-weight: 700;
}

.description {
    margin-top: 1.2rem;
    font-size: 1.2rem;
}

.tagBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.2rem;
    margin-top: 1rem;
}

.tag {
    background-color: #B493EA;
    color: white;
    padding: 0.7rem 1.4rem;
    border-radius: 0.5rem;
    font-size: 0.95rem;
    font-weight: 600;
    letter-spacing: 0.03rem;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}